In [11]:
import pandas as pd
import numpy as np

In [12]:
flats = pd.read_csv("flats_cleaned.csv")
houses = pd.read_csv("house_cleaned.csv")

In [13]:
df = pd.concat([flats,houses],ignore_index = True)

In [14]:
df = df.sample(df.shape[0],ignore_index = True)

In [15]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 3 Gurgaon,house,independent,0.80,8155.0,981.0,Plot area 109(91.14 sq.m.),5,4,1,not available,"Sector 3 Gurgaon, Gurgaon, Haryana",2.0,NaN,5 to 10 Year Old,"['Hanuman Mandir', 'Sharma Hospital Gurgaon', ...",Interested to sell independent house/villa.Pla...,NaN,NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
1,4 BHK Flat in Valley View Estate,flat,valley view estate,1.50,8278.0,1812.0,Carpet area: 1812 (168.34 sq.m.),4,4,3+,"study room,servant room,others","Valley View Estate, Gurgaon, Haryana",9.0,North,10+ Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'I...",Apartment specifications: \nSize: 1812 sq ft a...,"['7 Fan', '1 Exhaust Fan', '20 Light', 'No AC'...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2,2 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,1.00,6896.0,1450.0,Carpet area: 1450 (134.71 sq.m.),2,2,3,study room,"Sector 88A Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",This beautiful 2 bhk flat in sector-88a gurgao...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,4 BHK Flat in Sector 111 Gurgaon,flat,puri diplomatic greens,3.50,11864.0,2950.0,Super Built up area 2950(274.06 sq.m.)Built Up...,4,5,3+,servant room,"Sector 111 Gurgaon, Gurgaon, Haryana",10.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",Looking for a 4 bhk property for sale in gurga...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '5 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
4,2 BHK Flat in Sector 95A Gurgaon,flat,signature the roselia,0.45,7.0,642857.0,Carpet area: 569243 (52884.41 sq.m.),2,2,2,not available,"Sector 95A Gurgaon, Gurgaon, Haryana",2.0,South-West,0 to 1 Year Old,"['Newtown Square Mall', 'Pataudi Road', 'Dwark...","Highly ventilated and trusted builder, spaciou...",NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area4 out of 5', 'Amenities4 out of 5'..."

In [6]:
df.columns

Index(['property_name', 'society', 'price', 'price_per_sqft', 'area',
       'areaWithType', 'bedRoom', 'bathroom', 'balcony', 'additionalRoom',
       'address', 'floorNum', 'facing', 'agePossession', 'nearbyLocations',
       'description', 'furnishDetails', 'features', 'rating', 'property_type'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   society          3960 non-null   object
 2   price            3941 non-null   float64
 3   price_per_sqft   3941 non-null   float64
 4   area             3941 non-null   float64
 5   areaWithType     3961 non-null   object
 6   bedRoom          3961 non-null   int64
 7   bathroom         3961 non-null   int64
 8   balcony          3961 non-null   object
 9   additionalRoom   3961 non-null   object
 10  address          3950 non-null   object
 11  floorNum         3937 non-null   float64
 12  facing           2784 non-null   object
 13  agePossession    3960 non-null   object
 14  nearbyLocations  3754 non-null   object
 15  description      3961 non-null   object
 16  furnishDetails   2929 non-null   object
 17  features         3252 non-null   object
 18  rating           3511 non-null   object
 19  property_type    964 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [8]:
df.shape

(3961, 20)

In [16]:
df.to_csv('gurgaon_properties.csv',index=False)